.App {
  text-align: center;
}

body {
  font-family: 'Noto Sans', sans-serif;
  background: linear-gradient(#dde7dd, #7c5a5a);
}

header {
  background-color: #114c28;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  color: white;
  margin-bottom: 0px;
}

.header-container {
  background-color: #114c28;
  display: flex;
  justify-content: flex-end;
}

.nav-link {
  object-fit: fill;
  height: 45px;
  display: inline;
  padding: 10px;
  text-decoration: none;
  color: #f1f1f1;
  margin-left: 40px;
  margin-right: 20px;
}

.nav-link:hover {
  background-color: #dde7dd;
  height: 50px;
  margin: -5px;
  margin-left: 35px;
  margin-right: 20px;
}

.App-link {
  color: #61dafb;
}

.title {
  text-align: center;
}

.grid-main {
  text-align: center;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.grid-form {
  grid-column: 2;
}

.grid-post {
  grid-column: 1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.post-full {
  display: block;
  padding-left: 3%;
}

.edit {
  padding-left: 3%;
}

.posts {
  background-color: transparent;
}
.img-wrapper {
  background-color: none;
}

.post-author,
.time,
.post-text,
p {
  background-color: #dde7dd;
  margin: 0;
}

.post-text,
.text-form {
  font-size: medium;
  width: 100%;
  height: 80px;
  text-align: left;
  background-color: #dde7dd;
}

.post-text {
}

.delete,
.update {
  width: 40px;
  font-size: 12px;
  font-weight: bold;
  color: grey;
  border: none;
  background-color: transparent;
  border-radius: 3rem;
  cursor: pointer;
  position: relative;
}

.save-edits {
  width: 25px;
  font-size: 12px;
  font-weight: bold;
  color: grey;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.update:hover,
.save-edits:hover {
  background-color: #6a8f6b;
}

.delete:hover {
  background-color: rgb(165, 106, 106);
}

.post-pic {
  border-radius: 3rem;
  border: #221c42;
  width: 12%;
  min-width: 60px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: -45px;
}

.post-title,
.post-author {
  display: flex;
  justify-content: flex-start;
  padding-left: 3%;
  text-align: left;
}

.title-grid {
  display: grid;
  grid-template-columns: 8fr 2fr;
  background-color: #dac4b3;
  max-height: 80px;
}

.menu {
  grid-column: 2;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  cursor: pointer;
  border: none;
  background-color: #dac4b3;
  font-size: larger;
  max-height: 60px;
}
.menu:hover {
  font-size: x-large;
}

.dropdown {
  display: flex;
  justify-content: center;
  margin-top: 15%;
}

.post-title {
  margin-left: 15%;
  grid-column: 1;
}

/* HEXES:
Pale green: #dde7dd
Earth green: #6a8f6b
Midnight blue: #221c42
Pale: #ffe0c9
White: #ffffff
*/

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
canvas {
  position: absolute;
  background: black;
  width: 100%;
  height: 100%;
}

.menu {
  cursor: pointer;
  border: none;
  background-color: #dac4b3;
  font-size: larger;
  max-height: 60px;
}
.menu:hover {
  font-size: x-large;
}

.tree-gen-button {
  cursor: pointer;
  outline: none;
  border: none;
  position: absolute;
  left: 0;
  bottom: 5%;
  z-index: 10;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 20px 30px;
}

.text-form,
.title-form {
  border: 0;
  font-family: 'Noto Sans', sans-serif;
}

.title-form,
.post-title {
  background-color: #dac4b3;
  font-size: larger;
  font-weight: bold;
  padding: 15pt;
}

.generations {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  height: 5%;
  justify-content: center;
}

.gen1 {
  grid-row: 1;
  align-content: center;
  grid-template-columns: 1fr 1fr;
}

.gen2 {
  grid-row: 2;
  grid-template-columns: 1fr 1fr;
}

.gen3 {
  grid-row: 3;
}

.gen4 {
  grid-row: 4;
}

.pro-pic {
  object-fit: fill;
  height: 5%;
  width: 100px;
  height: 100px;
  border: 1pt transparent solid;
  display: block;
  margin: 25px;
  border-radius: 2.8rem;
}

.pro-pic:hover {
  border: 1pt solid;
}

h1 {
  font-size: small;
  color: transparent;
}

.family-details {
  display: flex;
  justify-content: center;
}

.profile {
  object-fit: fill;
  height: 5%;
  width: 500px;
  height: 500px;
  margin-top: 3%;
  border-radius: 2rem;
}

.fam-name {
  text-align: center;
}

.about {
}

.rel-grid {
}

.children {
  display: flex;
  justify-content: center;
}
.partner {
  display: flex;
  justify-content: center;
}

.node-name {
  text-align: center;
}

.post-tree {
  max-height: 650px;
  margin-top: 50px;
}

.post-card {
  display: flex;
  flex-direction: column-reverse;
}

.family-tree {
  background: rgb(165, 106, 106);
}
